// @import '~bulma/bulma.sass';

@import "~bulma/sass/utilities/_all";

$primary: #1C92D2;
$dark: #3A4856;
$body-background-color: #F0FBFF;
$link: #6F73C6;
$text: $dark;

// #00CACD
// #F9F871
// #6F73C6